{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 110,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 3,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@[a-z]", "^[~ /|@/|./]"],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
